<!--TODO: Search(specific), Update, Delete-->
<!--TODO: 2. Build an edit html partial with these features -->
<!--TODO: 2.1 able to search for a specific department by department ID-->
<!--TODO: 2.2 allow users to edit department name-->
<!--TODO: 2.3 allow users to delete managers-->
<!--The ng-controller directive tells Angular the scope of the controller-->
<!--In this case, the EditCtrl is given the scope of the <div> element where it is called-->
<!--We then use EditCtrl (as ctrl) to manipulate elements within this <div>-->
<div>
    <div class="page-header">
        <h1>Grocery Management System
            <small>Edit</small>
        </h1>
    </div>
    <br/>

    <form name="queryForm" novalidate class="form-inline" ng-submit="ctrl.search()">
        <div class="form-group">
            <label for="id">Product ID:</label>
            <input id="id" class="form-control" type="text" name="id"
                   placeholder="Enter id number"
                   ng-model="ctrl.id"
                   ng-change="ctrl.initDetails()"
                   required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info form-control"
                    ng-disabled="queryForm.$invalid">
                Search
            </button>
        </div>
    </form>

    <hr>
    <form name="editForm" novalidate class="form-inline" ng-submit="ctrl.updateGroceryField()">
        <table class="table table-striped" ng-show="ctrl.showDetails">
            <thead>
            <tr>
                
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Product ID</td>
                <td>
                    {{ ctrl.result.id }}
                </td>
            </tr>
            <tr>
                <td>Product name</td>
                <td>
                    <div ng-hide="ctrl.isEditorOn">
                        {{ ctrl.result.name }}
                        <button type="button" class="btn btn-link btn-sm"
                                ng-click="ctrl.toggleEditor()">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </button>

                    </div>
                    <div ng-show="ctrl.isEditorOn">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="ctrl.result.name">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-success"
                                        ng-click="ctrl.toggleEditor()">
                                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn btn-danger"
                                        ng-click="ctrl.toggleEditor()">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </td>

            </tr>
        
            <tr>
                <td>Product brand</td>
                <td>
                    <div ng-hide="ctrl.isEditorOn">
                        {{ ctrl.result.brand }}
                        <button type="button" class="btn btn-link btn-sm"
                                ng-click="ctrl.toggleEditor()">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </button>

                    </div>
                    <div ng-show="ctrl.isEditorOn">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="ctrl.result.brand">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-success"
                                        ng-click="ctrl.toggleEditor()">
                                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn btn-danger"
                                        ng-click="ctrl.toggleEditor()">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </td>

            </tr>
        
            <tr>
                <td>Product code</td>
                <td>
                    <div ng-hide="ctrl.isEditorOn">
                        {{ ctrl.result.upc12 }}
                        <button type="button" class="btn btn-link btn-sm"
                                ng-click="ctrl.toggleEditor()">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </button>

                    </div>
                    <div ng-show="ctrl.isEditorOn">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="ctrl.result.upc12" ng-pattern="/^[0-9]*$/">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-success"
                                        ng-click="ctrl.toggleEditor()">
                                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn btn-danger"
                                        ng-click="ctrl.toggleEditor()">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                        <div ng-show="editForm.$error.pattern">
                        <span class="glyphicon glyphicon-alert"></span>
                        Numbers only
                        </div>
                    </div>
                </td>

            </tr>
            <tr>
                <td>
                    <button type="submit" class="btn default" 
                    ng-disabled="!ctrl.result.name || !ctrl.result.brand || !ctrl.result.upc12">Save
                    </button>
                </td>
                    <td>
                    <button type="button" class="btn btn-link btn-sm"
                            ng-click ui-sref='searchDB'>Cancel
                    </button>
                </td>
            </tr>    
            </tbody>
        </table>
    </form>
</div>


