<div class="container" >

    <div class="page-header">
        <h1>Grocery Management System
            <small>SearchDB</small>
        </h1>
    </div>
    <!--Serach by name-->
    <form name="queryNameForm" novalidate class="form-inline" ng-submit="ctrl.searchByName()">
        <div class="form-group">
            <input id="searchStringName"
                   class="form-control"
                   size="50"
                   type="text"
                   name="searchStringName"
                   ng-model="ctrl.searchStringName"
                   placeholder="Enter Product name">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info form-control" ng-disabled="queryNameForm.$invalid">
                Search By Product Name
            </button>
        </div>
    </form>
    <!--Search by brand-->
    <form name="queryBrandForm" novalidate class="form-inline" ng-submit="ctrl.searchByBrand()">
        <div class="form-group">
            <input id="searchStringBrand"
                   class="form-control"
                   size="50"
                   type="text"
                   name="searchStringBrand"
                   ng-model="ctrl.searchStringBrand"
                   placeholder="Enter Brand">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info form-control" ng-disabled="queryNameForm.$invalid">
                Search By Brand
            </button>
        </div>
    </form>
    <hr>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Product Name</th>
            <th>Brand</th>
            <th>  UPC12 Barcode </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="groc in ctrl.groceries">
            <td>{{ groc.name }}</td>
            <td>{{ groc.brand }}</td>
            <td><img src="http://www.barcodes4.me/barcode/c128a/{{ groc.upc12 }}.png?IsTextDrawn=1" height=40></td>
            <td><button type = btn ng-click="ctrl.goToEdit(groc.id)">Edit</button></td>
            <!-- it is also possible to use <a ui-sref="editWithParams({dept_no:dept.dept_no})"> No need $state and $stateParams-->            
        </tr>
        </tbody>
    </table>
</div>